
/*Блок с заданием*/
.task {
    position: relative;
    list-style: none;
}

/*Наведение на задание*/
.task:hover{
    background-color: antiquewhite;
}

/*Кнопка Выполненные задания*/
.complete-task-btn::before {
    content: '';   
    width: 23px;
    height: 23px;
    border: 1px solid black;
    position: absolute;
    top: 7px;
    left: 5px;
}
.complete-task-btn:hover:before {
    cursor: pointer;
}

/*Кнопка удаления*/
.delete-btn {
    width: 30px; 
    height: 30px;
    right: 0;
    top: 5px;
    position: absolute;
}

.delete-btn:hover {
    cursor: pointer;
}
/*Текст задания*/
.text-task {
    margin: 10px;
    margin-left: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*Анимация при выполнении*/
.hidden-arrow {
    opacity: 0;
    transition: all 0.3s ease 0s;
}
/*Галочка на выполненном задании*/
.text-task::after {
    content: '';
    background: url(./img/done2png.png) no-repeat; 
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -1px;
    left:5px;
    z-index: -1;
}

/*Выполненное задание*/
.complete-task-style {
    opacity: 0.5;
    text-decoration: line-through;
    transition: all 1s ease 0s;
}

/*Отображения задания*/
.visible-task {
    display: block;
}

/*Скрытие задания*/

.invisible-task {
    display: none;
}

