
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*Полотно и стили дочерних элементов*/
body {
    background: url('./img/picture.png');
    background-attachment: fixed;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Заголовок*/
.title {
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
    opacity: 0.7;
}
/*Список дел*/
.todo-page {
    position: relative;
    width: 600px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #2f0252;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/*Форма*/
#todo-form {
    display: flex;
    
}


#todo-form button {
    height: 100%;
    padding: 10px;
    background-color:#da15fa;
    border-radius: 20px 30px 15px 30px ;
}

#todo-form button:hover {
    background-color: #da15aa;

}

#todo-form button:active {
    background-color: #da15ea;
}

.todo-form__todo-input {
    flex-grow: 1;
}

.todo-form__todo-input input[type=text] {
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid darkgray;
    opacity: 0.5;
    border-top-left-radius: 30px;
    padding-left: 13px;
    margin: 0;
}


#todo-page__list {
}

#todo-page__list li {
    font-size: 18px;
    height: 40px;
    border: 1px solid #f0f6ff;
    
}

#todo-page__list li::before {
    
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid darkgray;
}

.actions div {
    opacity: 0.4;
    padding: 2px;
}


.actions .invisible-clear-btn {
    opacity: 0;
    pointer-events: none;
}

.actions div:nth-child(3n + 1) {

}

.actions div:nth-child(n+2) {
    margin-left: 20px;
}

.actions__text {
}
.actiosn__all {
}
.actions__active {

}
.actions__completed {
}
.actions__clear-completed {
}

/*Кнопки выбора при наведении*/
.btn-style:hover {
    border-radius: 5px;
    background-color: azure;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}


/*Кнопки выбора при нажатии*/
.btn-style:active {
    font-size: 14px;
    background-color:#da15fa;
}

/*Кусочки страниц*/
.peace-of-pages {
    position: absolute;
    bottom: -14px;
    right: 5px;
}

.peace-of-pages-style {
    margin: 0 auto;
    height: 7px;
    background-color: white;
    border-top: 1px solid darkgray;
    box-shadow: 1px 2px 5px #261044;
}
.peace-of-pages__first-list {
    width: 590px;
}
.peace-of-pages__secont-list {
    width: 580px;
}