
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*Полотно и стили дочерних элементов*/
body {
    background: url('./img/picture.png');
    background-attachment: fixed;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Заголовок */
.title {
    display: inline;
    text-align: center;
    font-size: 60px;
}

h1 {
    opacity: 0.5;
}
/*Список дел*/
.todo-page {
    position: relative;
    width: 50%;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #2f0252;
    border-radius: 30px;
}

/*Форма*/
#todo-form {
    display: flex;
}


#todo-form button {
    
    white-space: nowrap;
    /* font-size: 10px; */
    font-size: 20px;
    font-size: calc(10px + 10 * (100vw / 1280));
    padding: 10px;
    background-color:#da15fa;
    border-radius: 20px 30px 15px 30px ;
}

#todo-form button:hover {
    background-color: #da15aa;

}

#todo-form button:active {
    background-color: #da15ea;
}

.todo-form__todo-input {
    flex-grow: 1;
}

.todo-form__todo-input input {
    /* font-size: 12px; */
    font-size: 25px;
    font-size: calc(12px + 13 * (100vw / 1280));
    width: 100%;
    height: 100%;
    border-bottom: 1px solid darkgray;
    opacity: 0.5;
    border-top-left-radius: 30px;
    padding-left: 13px;
    margin: 0;
}

todo-form__todo-input > div {
    display: inline;
}

#todo-page__list {
}

#todo-page__list li {
    height: 40px;
    border: 1px solid #f0f6ff;
    font-size: 23px;
    /* font-size: 14px; */
    font-size: calc(14px + 9 * (100vw / 1280));
}

#todo-page__list li::before {
    
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 10px;
    border-top: 1px solid darkgray;
    /* font-size: 13px; */
    font-size: 20px;
    font-size: calc(13px + 7 * (100vw / 1280));
}

.actions div {
    opacity: 0.4;
    padding: 2px;
}


.actions .invisible-clear-btn {
    opacity: 0;
    pointer-events: none;
}

.actions__text {
}
.actiosn__all {
}
.actions__active {

}
.actions__completed {
}
.actions__clear-completed {
}

/*Кнопки выбора при наведении*/
.btn-style:hover {
    border-radius: 5px;
    background-color: azure;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}


/*Кнопки выбора при нажатии*/
.btn-style:active {
    background-color:#da15fa;
}


@media(max-width: 767px) {
    .todo-form__todo-input input {
        font-size: calc(12px + (13 + 13 * 0.7) * ((100vw - 375px) / 1280));
    }
    #todo-form button {
        font-size: calc(10px + (10 + 10 * 0.7) * ((100vw - 375px) / 1280));
    }
    
    #todo-page__list li {
        font-size: calc(14px + (9 + 9 * 0.7)* ((100vw - 375px) / 1280));
    }
    .actions {
        font-size: calc(13px + (7 + 7 * 0.7) * ((100vw - 375px) / 1280));
    }
}

@media(min-width: 375px){
    .todo-page {
        width: 70%;
    }
}